# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Netlify CMS Uploads
# We recommend COMMITTING your uploads so they are part of the Git repo, 
# unless they are very large files. 
# If you want to ignore them, uncomment the line below:
# /public/uploads/*
